spring:
  application:
    name: wallet-service
  
  datasource:
    url: jdbc:postgresql://localhost:5434/wallet_db
    username: postgres
    password: postgres
    driver-class-name: org.hibernate.dialect.PostgreSQLDialect

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081

integration:
  subscription-service:
    url: http://localhost:8080